{% extends 'base.html' %}
{% load static%}
{% block body %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Welcome To Insight Zone</h2>
                        <span>Unlocking the knowledge Together</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="{% static 'assets/images/insightzoneblahblahblah.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>About Us &amp; Our Skills</h4>
                        <span>At Insight Zone, we believe that knowledge knows no boundaries. We are a vibrant community of students from around the globe, dedicated to sharing and exchanging notes to empower your academic journey. With our platform, you gain access to a wealth of study materials, enabling you to learn from diverse perspectives and excel in your studies.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>Education is the most powerful weapon which you can use to change the world.</p>
                        </div>
                        <p>As a global hub for knowledge exchange, Insight Zone connects students from diverse backgrounds, empowering them to share and access a wealth of educational resources. With a user-friendly interface and a vibrant community of learners, Insight Zone opens doors to a world of academic possibilities. From uploading and downloading study notes to fostering meaningful connections, Insight Zone is the catalyst that propels students towards academic excellence. Join us on this extraordinary journey and unlock the power of collaborative learning at Insight Zone, where knowledge knows no limits.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Our Team Area Starts ***** -->
    <section class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Amazing Team</h2>
                        <span>We are the ones with the idea that can change the whole system.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static 'assets/images/team-member-01.jpg' %}">
                        </div>
                        <div class="down-content">
                            <h4>Ghumaliya Vishv</h4>
                            <span>A backbancher like you guys</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static 'assets/images/team-member-02.jpg' %}">
                        </div>
                        <div class="down-content">
                            <h4>Panchal  Jay</h4>
                            <span>A Rattebaj</span>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static 'assets/images/team-member-03.png' %}">
                        </div>
                        <div class="down-content">
                            <h4>Chandegara Ravi</h4>
                            <span>The anonumous genius</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="inner-content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static 'assets/images/team-member-04.png' %}">
                        </div>
                        <div class="down-content">
                            <h4>Patel Nidhi</h4>
                            <span>Silent Lady</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Team Area Ends ***** -->

    <!-- ***** Services Area Starts ***** -->
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Services</h2>
                        <span>We are one stop destination that provides you with the notes you're looking for.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Easy Search</h4>
                        <p> Insight Zone offers intuitive search functionality, allowing you to find notes by subject, topic, or user-provided tags. The platform's organized categorization system makes it effortless to discover and access the study materials that align with your specific needs.</p>
                        <img src="{% static 'assets/images/explore-image-01.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Community Interaction</h4>
                        <p>Insight Zone fosters a vibrant community where students can connect, collaborate, and engage in academic discussions. Through features like discussion forums, chat rooms, and user profiles, you can interact with like-minded individuals, form study groups, share insights, and seek assistance when needed.</p>
                        <img src="{% static 'assets/images/community-01.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Collabrative Learning Opportunity</h4>
                        <p> Insight Zone encourages collaboration among students. By connecting with peers, you can form study groups, collaborate on challenging assignments, and engage in academic discussions, leveraging the collective knowledge and expertise of the community.</p>
                        <img src="{% static 'assets/images/communitive-001.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Services Area Ends ***** -->
{% endblock body %}