{% extends 'base.html' %}
{% load static%}
{% block body %}
    <!-- ***** Products Area Starts ***** -->
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Here are the all pdfs</h2>
                        <span>Top Rated and Entrusted notes.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                            <img src="{% static 'assets/images/dbms.jpg' %}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Database Management System</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                            <img src="{% static 'assets/images/1.jpg' %}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Software Engineering</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                            <img src="{% static 'assets/images/2.jpg' %}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Integrated Personality Development Course</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                            <img src="{% static 'assets/images/3.jpg' %}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>English</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                            <img src="{% static 'assets/images/4.jpg' %}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>VFX</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                            <img src="{% static 'assets/images/5.jpg' %}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Artifical Intelligence</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                            <img src="{% static 'assets/images/6.jpg' %}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Advance Java Programing</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                            <img src="{% static 'assets/images/7.jpg' %}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>C++</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                            <img src="{% static 'assets/images/8.jpg' %}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>C#</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Products Area Ends ***** -->
{% endblock body %}
    
